/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #121212;
    color: #fff;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 25%;
    background: #1e1e1e;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto; /* Permite a rolagem vertical */
    height: 100vh;    /* Garante que ocupe toda a altura da tela */ 
}

.sidebar h2 {
    margin-bottom: 15px;
    font-size: 20px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
    padding: 10px;
    background: #333;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 5px;
}

.sidebar ul li:hover {
    background: #444;
}

.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-content h2 {
    margin-bottom: 20px;
}

video {
    width: 80%;
    border: 2px solid #333;
    border-radius: 10px;
}


.movies-grid {
    display: flex; /* Altera de grid para flexbox */
    flex-wrap: wrap; /* Permite que os cards quebrem linha ao atingir o limite da largura */
    gap: 15px; /* Espaçamento entre os cards */
    justify-content: center; /* Centraliza os cards horizontalmente */
    margin-top: 20px;
}


.movie-card {
    background-color: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    width: 150px; /* Largura fixa */
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}


.movie-card img {
    width: 100%; /* Faz o cartaz ocupar toda a largura do card */
    height: 225px; /* Proporção aproximada de cartazes */
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer */
    border-radius: 8px;
}

.movie-card h3 {
    font-size: 14px; /* Título menor */
    margin: 10px 0 5px;
}

.movie-card p {
    font-size: 12px; /* Texto menor */
    color: #aaa;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
